/* Common start */
* {
    margin: 0;
    padding: 0;
}

body {

}

.d-flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.jce {
    justify-content: end;
}

.jca {
    justify-content: space-around;
}

.w-100 {
    width: 100% !important;
}

.m-3 {
    margin: 1rem;
}

.m-auto {
    margin: auto;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
}

.container-small {
    max-width: 600px;
    margin: auto;
}

/* Common end */

/* Header start */

.nav {
    display: flex;
    list-style: none;
}

.main-nav .link {
    padding: 15px;
}

.main-nav .link:hover {
    background-color: #a338f4;
    color: white;
    cursor: default;
}

/* Header end */

/* Welcome start */
.welcome {
    background-color: #5d23c0;
    gap: 20px;
}

.welcome .image {
    max-width: 60%;
    height: auto;
    margin: 40px 0;
    box-shadow: 0 0 5px #a24aff;
}

.text-wrap1 {
    display: inline;
    color: white;
    border: none;
    background: #003668;
    padding: 8px;
    line-height: 1.8;
}

.text-wrap2 {
    display: inline-block;
    margin-bottom: 25px;
    color: white;
    margin-top: 10px;
}

.orange-button {
    color: white;
    background-color: #f93f60;
    padding: 12px;
    border-radius: 7px;
    display: inline-block;
}

/* Welcome end */

/* Stats start */

.stats {
    text-align: center;
    margin: 70px auto;
}

.stats .stats-title, .stats .stats-bottom-title {
    font-weight: bold;
    font-size: 20px;
}

.stats .stats-title {
    margin-bottom: 24px;
}

.stats .stats-content {
    font-size: 16px;
    margin-bottom: 60px;
}

.stats .stats-bottom-title {
    margin-bottom: 60px;
}

.stats .slogan-text {
    word-spacing: 2px;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #1e8bff, #1e6955ff 45%, #a83af5 50%, #c03ada 75%);
    color: transparent;
    background-clip: text;
}

.stats .stats-items {
    margin: 15px auto 40px;
    text-align: center;
}

.stats .stats-items .stat-item:nth-child(1) {
    color: #1886fd;
}

.stats .stats-items .stat-item:nth-child(2) {
    color: #6c57fe;
}

.stats .stats-items .stat-item:nth-child(3) {
    color: #a53cf3;
}

.stats .stats-items .stat-item:nth-child(4) {
    color: #be36d9;
}

.stats .stats-items .stat-item .number {
    font-size: 2.5rem;
}
.stats .stats-items .stat-item p {
    color: #000;
}

/* Stats end */

.logo {
    border: 1px solid black;
    padding: 15px 25px;
    color: black;
}

.container1, .container2 {
    justify-content: center;
    margin-top: 25px;
}

.container2 {
    margin-left: 25px;
}


/*doesn't work*/
.code-link {
    margin-top: 65px;
}

.section3 {
    text-align: center;
}

.container3 {
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.container4 {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    gap: 100px;
}

.graytext {
    color: gray;
}

.bg-color {
    background-color: aliceblue;
    border-radius: 10px;
}

footer {
    background-color: darkgrey;
}

.container .col {
    flex-direction: column;
}

.svg1 {
    width: 20px;
}

.svg2 {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}

.svg3 {
    width: 25px;
    height: 25px;
}
